@import '../../node_modules/bourbon/core/bourbon'; // http://bourbon.io/
@import '../abstracts/variables'; // colors, fonts etc...
@import '../layout/layout'; // responsive grid and media queries
@import '../base/mixins';//Mixins
@import '../layout/header';
@import '../layout/primary_nav';


/**** **** ****    GENERAL STYLES   **** **** ****/

*, *::after, *::before {
	box-sizing: border-box;
}

body {
	@include MQ(maxL) { // layout mixins inside partials > _layout.scss
		&.nav-on-left.overflow-hidden {
			overflow: hidden;
		}
	}
}

img {
	/* make images responsive */
	max-width: 100%;
}

/**** **** ****    COMPONENTS   **** **** ****/



/*************************************/
/************    LOGO   **************/
/*************************************/

.cd-logo {
	position: absolute;
	top: 10px;
	left: 1.2em;
	transition: all 0.4s;
	z-index: $above-content;

	img {
	    // max-width: 245px;
		display: block;
		height: 50px;
		padding: 10px;
		&.inverse {
			display: none;
		}
	}

	@include MQ(maxL) {
		.nav-on-left & {
			left: auto;
			right: 5%;
		}
	}

	@include MQ(L) {
		top: 15px;
		left: 4em;

		img {
			padding: 7px;
		}
	}
}

/***********************************************/
/************    HEADER BUTTONS   **************/
/***********************************************/

.cd-header-buttons {
	position: absolute;
	display: inline-block;
	top: 12px;
	right: 20px;

	li {
		// display: inline-block;
		display: inline-flex;
	}

	@include MQ(maxL) {
		.nav-on-left & {
			right: auto;
			left: 5%;

			li {
				float: right;
			}
		}
	}

	@include MQ(L) {
		top: 18px;
		right: 40px;
		padding-left: 0px;
	}
}

.cd-nav-trigger,
.cd-nav-login {
	position: relative;
	display: block;
	width: 44px;
	height: 44px;
	overflow: hidden;
	white-space: nowrap;
	/* hide text */
	color: transparent !important;
	z-index: $above-all-content;
}

.cd-nav-trigger {

	span, span::before, span::after {
		/* hamburger icon in CSS */
		position: absolute;
		display: inline-block;
		height: 3px;
		width: 24px;
		background: $color-2;
	}

	span {
		/* line in the center */
		position: absolute;
		top: 50%;
		right: 10px;
		margin-top: -2px;
		@include transition(background .3s .3s);
	}

	span::before, span::after {
		/* other 2 lines */
		content: '';
		right: 0;
		/* Force Hardware Acceleration in WebKit */
		@include transform(translateZ(0));
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		@include transform-origin(0% 50%);
		@include transition(transform .3s .3s);
	}

	span::before {
		/* menu icon top line */
		top: -6px;
	}

	span::after {
		/* menu icon bottom line */
		top: 6px;
	}

	&.nav-is-visible {
		span {
			/* hide line in the center */
			background: rgba($color-2, 0);
		}

		span::before, span::after {
			/* keep visible other 2 lines */
			background: rgba($color-2, 1);
		}

		span::before {
			@include transform(translateX(4px) translateY(-3px) rotate(45deg));
		}

		span::after {
			@include transform(translateX(4px) translateY(2px) rotate(-45deg));
		}
	}

	@include MQ(L) {
		display: none;
	}
}

.cd-nav-login {

	&::before {
		/* profile icon */
		content: '';
		position: absolute;
		@include transition(opacity .3s);
		/* Force Hardware Acceleration in WebKit */
		@include transform(translateZ(0));
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
	}

	&::before {
		/* SVG */
		content:'';
		display: block;
		position: absolute;
		top: 50%;
		margin-top: -17px;
		width: 35px;
		height: 35px;
		background-repeat: no-repeat;
		background-position: center center;
		background-image: url('https://www.highview.org/Content/ExternalSite/Icons/login-icon.svg');
	}
}

.large_screen_only {
	display: none;
	@include MQ(L) {
		display: block;
	}
}


/************    OVERLAY   **************/
.cd-overlay {
	/* shadow layer visible when navigation is active */
	position: fixed;
	z-index: $above-content;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	cursor: pointer;
	background-color: rgba($color-1, .3);
	visibility: hidden;
	opacity: 0;
	@include backface-visibility(hidden);
	@include transition(opacity .3s 0s, visibility 0s .3s, transform .3s 0s);

	&.is-visible {
		opacity: 1;
		visibility: visible;
		@include transition(opacity .3s 0s, visibility 0s 0s, transform .3s 0s);
	}

	@include MQ(maxL) {
		&.is-visible {
			@include transform(translateX(-$nav-width-S));
		}
		.nav-on-left &.is-visible {
			@include transform(translateX($nav-width-S));
		}
	}
}

/**** **** ****    SUPPORT FOR NO JS   **** **** ****/

.no-js .cd-primary-nav {
	position: relative;
	height: auto;
	width: 100%;
	overflow: visible;
	visibility: visible;
	z-index: $content;
}

@include MQ(L) {
	.mega-menu-hide {
		display: none;
	}

	.logged-in {
		padding: 0 65px 0 0;
	}
	.no-js .cd-primary-nav {
		position: absolute;
		z-index: $above-content;
		display: inline-block;
		width: auto;
		top: 0;
		right: 150px;
		padding: 0;
	}

	.no-js .nav-is-fixed .cd-primary-nav {
		position: fixed;
	}
}