// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
body {
    background-color: $background-color;
    margin: 0;
    padding: 0;

    .event-calendar {
        .event-card {
            background-color: #fff;
            border-radius: 8px;
            @include ease-in-out;
            &:hover {
                @include box-shadow;
            }
        }
    }
}
