// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
body {
    background-color: $background-color;
    margin: 0;
    padding: 0;

    .event-calendar {
        background-color: green;
        .card {
            background-color: #fff;
            border-radius: 8px;
            width: 40%;
            @include ease-in-out;
            &:hover {
                @include box-shadow;
            }
        }
    }
}
