// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.event-icon {
    background-color: #ffffff;
    width: 110px;
    height: 110px;
    border-radius: 8px;
    position: absolute;
    top: -25px;
    left: 20px;
}