.more-info {
    a {
        h6 {
            color: $primary-color;
            text-transform: uppercase;
            text-align: center;
            font-size: 18px;
            margin: 0;
            padding: 10px;
        }
    }
}