header {
  background-color: #333;
  height: 55px;
  width: 100%;
}

header .logo {
  width: 45px;
  height: auto;
  padding: 10px;
}

/* --------------------------------

Main components

-------------------------------- */
.cd-main-content, .cd-main-header {
  position: relative;
  -webkit-transition: -webkit-transform 0.3s, background-color 0.3s, visibility 0s 0s;
  -webkit-transition: background-color 0.3s, visibility 0s 0s, -webkit-transform 0.3s;
  transition: background-color 0.3s, visibility 0s 0s, -webkit-transform 0.3s;
  transition: transform 0.3s, background-color 0.3s, visibility 0s 0s;
  transition: transform 0.3s, background-color 0.3s, visibility 0s 0s, -webkit-transform 0.3s;
}

.cd-main-content.transparent-header, .cd-main-header.transparent-header {
  background-color: transparent !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.cd-main-content.transparent-header .cd-nav ul li a, .cd-main-header.transparent-header .cd-nav ul li a {
  color: #FFFFFF;
}

.cd-main-content.transparent-header .cd-nav ul li a:before, .cd-main-content.transparent-header .cd-nav ul li a:after {
  border-color: #FFFFFF;
  background: rgba(255, 255, 255, 0.75);
}

.cd-main-header.transparent-header .cd-nav ul li a:before, .cd-main-header.transparent-header .cd-nav ul li a:after {
  border-color: #FFFFFF;
  background: rgba(255, 255, 255, 0.75);
}

.cd-main-content.transparent-header .cd-nav ul li a:hover:before, .cd-main-content.transparent-header .cd-nav ul li a:hover:after {
  background-color: #FFFFFF;
}

.cd-main-header.transparent-header .cd-nav ul li a:hover:before, .cd-main-header.transparent-header .cd-nav ul li a:hover:after {
  background-color: #FFFFFF;
}

.cd-main-content.transparent-header .cd-search-trigger:before, .cd-main-header.transparent-header .cd-search-trigger:before {
  border-color: #FFFFFF;
}

.cd-main-content.transparent-header .cd-search-trigger:after, .cd-main-header.transparent-header .cd-search-trigger:after {
  background-color: #FFFFFF;
}

.cd-main-content.transparent-header .cd-nav-login::before, .cd-main-header.transparent-header .cd-nav-login::before {
  background-image: url("../Assets/img/SE/profile-white.svg");
}

.cd-main-content.transparent-header .cd-nav-trigger.nav-is-visible span, .cd-main-header.transparent-header .cd-nav-trigger.nav-is-visible span {
  background-color: transparent;
}

.cd-main-content.transparent-header .cd-nav-trigger span, .cd-main-header.transparent-header .cd-nav-trigger span, .cd-main-content.transparent-header .cd-nav-trigger span:before, .cd-main-header.transparent-header .cd-nav-trigger span:before, .cd-main-content.transparent-header .cd-nav-trigger span:after, .cd-main-header.transparent-header .cd-nav-trigger span:after {
  background-color: #FFFFFF;
}

.cd-main-content.transparent-header .cd-logo img.default-logo, .cd-main-header.transparent-header .cd-logo img.default-logo {
  display: none;
}

.cd-main-content.transparent-header .cd-logo img.inverse, .cd-main-header.transparent-header .cd-logo img.inverse {
  display: block;
}

.cd-main-content li, .cd-main-header li {
  font-weight: 600;
}

@media only screen and (max-width: 1199px) {
  .cd-main-content.nav-is-visible, .cd-main-header.nav-is-visible {
    -webkit-transform: translateX(-260px);
    transform: translateX(-260px);
  }
  .nav-on-left .cd-main-content.nav-is-visible, .nav-on-left .cd-main-header.nav-is-visible {
    -webkit-transform: translateX(260px);
    transform: translateX(260px);
  }
}

.cd-main-content {
  min-height: 100vh;
  z-index: 2;
  background-color: #fff;
}

.cd-main-header {
  height: 70px;
  background: #FFFFFF;
  z-index: 3;
  -webkit-box-shadow: 1px -5px 20px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 1px -5px 20px 0px rgba(0, 0, 0, 0.5);
}

.cd-main-header.nav-is-visible {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.nav-is-fixed .cd-main-header {
  /* add .nav-is-fixed class to body if you want a fixed navigation on > 1170px */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

@media only screen and (min-width: 1200px) {
  .cd-main-header {
    height: 80px;
  }
  .cd-main-header::after {
    clear: both;
    content: "";
    display: table;
  }
}

main {
  margin-top: 70px;
}

main.transparent-content {
  margin-top: 0 !important;
}

@media only screen and (min-width: 1200px) {
  main {
    margin-top: 80px;
  }
  main.transparent-content {
    margin-top: 0 !important;
  }
}

.cd-logo {
  position: absolute;
  top: 10px;
  left: 1.2em;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.cd-logo img {
  display: block;
  height: 50px;
  padding: 10px;
}

.cd-logo img.inverse {
  display: none;
}

@media only screen and (max-width: 1199px) {
  .nav-on-left .cd-logo {
    left: auto;
    right: 5%;
  }
}

@media only screen and (min-width: 1200px) {
  .cd-logo {
    top: 15px;
    left: 4em;
  }
  .cd-logo img {
    padding: 7px;
  }
}

.cd-header-buttons {
  position: absolute;
  display: inline-block;
  top: 12px;
  right: 5%;
}

.cd-header-buttons li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@media only screen and (max-width: 1199px) {
  .nav-on-left .cd-header-buttons {
    right: auto;
    left: 5%;
  }
  .nav-on-left .cd-header-buttons li {
    float: right;
  }
}

@media only screen and (min-width: 1200px) {
  .cd-header-buttons {
    top: 18px;
    right: 40px;
    padding-left: 0px;
  }
}

.cd-search-trigger, .cd-nav-trigger, .cd-nav-login {
  position: relative;
  display: block;
  width: 44px;
  height: 44px;
  overflow: hidden;
  white-space: nowrap;
  /* hide text */
  color: transparent !important;
  z-index: 3;
}

.cd-search-trigger::before, .cd-search-trigger::after {
  /* search icon */
  content: '';
  position: absolute;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.cd-search-trigger::before {
  /* lens */
  top: 11px;
  left: 11px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 3px solid #000000;
}

.cd-search-trigger::after {
  /* handle */
  height: 3px;
  width: 8px;
  background: #000000;
  bottom: 14px;
  right: 11px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.cd-search-trigger span {
  /* container for the X icon */
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.cd-search-trigger span::before, .cd-search-trigger span::after {
  /* close icon */
  content: '';
  position: absolute;
  display: inline-block;
  height: 3px;
  width: 22px;
  top: 50%;
  margin-top: -2px;
  left: 50%;
  margin-left: -11px;
  background: #000000;
  opacity: 0;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
}

.cd-search-trigger span::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.cd-search-trigger span::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.cd-search-trigger.search-is-visible::before, .cd-search-trigger.search-is-visible::after {
  /* hide search icon */
  opacity: 0;
}

.cd-search-trigger.search-is-visible span::before, .cd-search-trigger.search-is-visible span::after {
  /* show close icon */
  opacity: 1;
}

.cd-search-trigger.search-is-visible span::before {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.cd-search-trigger.search-is-visible span::after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.cd-nav-trigger span {
  /* hamburger icon in CSS */
  position: absolute;
  display: inline-block;
  height: 3px;
  width: 24px;
  background: #000000;
  /* line in the center */
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -2px;
  /*@include transition(background .3s .3s);*/
}

.cd-nav-trigger span::before, .cd-nav-trigger span::after {
  /* hamburger icon in CSS */
  position: absolute;
  display: inline-block;
  height: 3px;
  width: 24px;
  background: #000000;
}

.cd-nav-trigger span::before, .cd-nav-trigger span::after {
  /* other 2 lines */
  content: '';
  right: 0;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition: -webkit-transform 0.3s 0.3s;
  transition: -webkit-transform 0.3s 0.3s;
  transition: transform 0.3s 0.3s;
  transition: transform 0.3s 0.3s, -webkit-transform 0.3s 0.3s;
}

.cd-nav-trigger span::before {
  /* menu icon top line */
  top: -6px;
}

.cd-nav-trigger span::after {
  /* menu icon bottom line */
  top: 6px;
}

.cd-nav-trigger.nav-is-visible span {
  /* hide line in the center */
  background: transparent;
}

.cd-nav-trigger.nav-is-visible span::before, .cd-nav-trigger.nav-is-visible span::after {
  /* keep visible other 2 lines */
  background: black;
}

.cd-nav-trigger.nav-is-visible span::before {
  -webkit-transform: translateX(4px) translateY(-3px) rotate(45deg);
  transform: translateX(4px) translateY(-3px) rotate(45deg);
}

.cd-nav-trigger.nav-is-visible span::after {
  -webkit-transform: translateX(4px) translateY(2px) rotate(-45deg);
  transform: translateX(4px) translateY(2px) rotate(-45deg);
}

@media only screen and (min-width: 1200px) {
  .cd-nav-trigger {
    display: none;
  }
}

.large_screen_only {
  display: none;
}

@media only screen and (min-width: 1200px) {
  .large_screen_only {
    display: block;
  }
}

.cd-nav-login::before {
  /* profile icon */
  content: '';
  position: absolute;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /* SVG */
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -20px;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../Assets/img/SE/profile.svg");
}

.cd-primary-nav {
  font-size: 1.5rem;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  font-weight: bold;
  text-transform: uppercase;
  width: 260px;
  background: #FFFFFF;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 1;
  -webkit-box-shadow: inset 1px 0px 0px 0px #ADADAD;
  box-shadow: inset 1px 0px 0px 0px #ADADAD;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  overflow: hidden;
}

.cd-primary-nav ul {
  font-size: 1.5rem;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  font-weight: bold;
  text-transform: uppercase;
  width: 260px;
  background: #FFFFFF;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 1;
  -webkit-box-shadow: inset 1px 0px 0px 0px #ADADAD;
  box-shadow: inset 1px 0px 0px 0px #ADADAD;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  position: fixed;
  top: 0;
  overflow-x: hidden;
}

.cd-primary-nav ul ul {
  position: fixed;
  top: 0;
  overflow-x: hidden;
}

.cd-primary-nav a, .cd-primary-nav div.disabled {
  display: block;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  color: #000000;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-bottom: 1px solid #e0e0e0;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform, opacity;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
}

.cd-primary-nav ul a, .cd-primary-nav ul div.disabled {
  display: block;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  color: #000000;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-bottom: 1px solid #e0e0e0;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform, opacity;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
}

.cd-primary-nav.is-hidden, .cd-primary-nav ul.is-hidden {
  /* secondary navigations hidden by default */
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.cd-primary-nav.moves-out > li > a, .cd-primary-nav ul.moves-out > li > a {
  /* push the navigation items to the left - and lower down opacity - when secondary nav slides in */
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  opacity: 0;
}

.cd-primary-nav .see-all a {
  /* different style for the See all button on mobile and tablet */
}

.cd-primary-nav .cd-nav-gallery .cd-nav-item, .cd-primary-nav .cd-nav-icons .cd-nav-item, .cd-primary-nav .cd-nav-list .cd-nav-item, .cd-primary-nav .cd-dash-icons .cd-nav-item {
  /* items with picture (or icon) and title */
  height: 50px;
  line-height: 50px;
  text-transform: none;
}

.cd-primary-nav .cd-nav-gallery .cd-nav-item h3, .cd-primary-nav .cd-nav-icons .cd-nav-item h3, .cd-primary-nav .cd-nav-list .cd-nav-item h3, .cd-primary-nav .cd-dash-icons .cd-nav-item h3 {
  color: inherit;
  line-height: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cd-primary-nav .cd-nav-gallery .cd-nav-item {
  padding-left: 75px;
  text-transform: uppercase;
}

.cd-primary-nav .cd-nav-gallery .cd-nav-item img {
  position: absolute;
  display: block;
  height: 40px;
  width: auto;
  left: 20px;
  top: 50%;
  margin-top: -20px;
  border-radius: 100%;
}

.cd-primary-nav .cd-nav-gallery .cd-nav-item h3 {
  font-size: 14px;
}

.cd-primary-nav .cd-nav-icons .cd-nav-item {
  padding-left: 75px;
}

.cd-primary-nav .cd-nav-icons .cd-nav-item p {
  color: #000000;
  font-size: 1.3rem;
  /* hide description on small devices */
  display: none;
}

.cd-primary-nav .cd-nav-icons .cd-nav-item h3 {
  font-size: 1.5rem;
  margin-top: 0px;
  font-weight: 600;
}

.cd-primary-nav .cd-nav-icons .cd-nav-item::before {
  /* item icon */
  content: '';
  display: block;
  position: absolute;
  left: 20px;
  top: 50%;
  margin-top: -20px;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 35px 35px;
}

.cd-primary-nav .cd-nav-icons .cd-nav-item.disabled {
  line-height: 25px;
}

.cd-primary-nav .cd-nav-icons .cd-nav-item.disabled h3 {
  color: #ADADAD;
  margin-top: 5px;
}

.cd-primary-nav .cd-nav-icons .cd-nav-item.disabled h3 small {
  clear: both;
  display: block;
  text-transform: uppercase;
  line-height: 0.7rem;
  font-size: 1.1rem;
  color: #ADADAD;
  font-weight: 600;
}

.cd-primary-nav .cd-nav-icons .cd-nav-item.disabled:before {
  fill: #ADADAD;
}

.cd-primary-nav .cd-nav-icons .cd-nav-item.coming-soon {
  line-height: 25px;
}

.cd-primary-nav .cd-nav-icons .cd-nav-item.coming-soon h3 {
  color: #000000;
  margin-top: 5px;
}

.cd-primary-nav .cd-nav-icons .cd-nav-item.coming-soon h3 small {
  clear: both;
  display: block;
  text-transform: uppercase;
  line-height: 0.7rem;
  font-size: 1.1rem;
  color: #000000;
  font-weight: 600;
}

.cd-primary-nav .cd-nav-icons .cd-nav-item.coming-soon:before {
  fill: #000000;
}

.cd-primary-nav .cd-nav-icons .cd-nav-item.mission::before {
  background-image: url("../Assets/img/SE/Mission.svg");
}

.cd-primary-nav .cd-nav-icons .cd-nav-item.what-we-believe::before {
  background-image: url("../Assets/img/SE/bible.svg");
}

.cd-primary-nav .cd-nav-icons .cd-nav-item.faq::before {
  background-image: url("../Assets/img/SE/FAQ.svg");
}

.cd-primary-nav .cd-nav-icons .cd-nav-item.leadership::before {
  background-image: url("../Assets/img/SE/Leadership.svg");
}

.cd-primary-nav .cd-nav-icons .cd-nav-item.baptism::before {
  background-image: url("../Assets/img/SE/baptism.svg");
}

.cd-primary-nav .cd-nav-icons .cd-nav-item.prayer::before {
  background-image: url("../Assets/img/SE/Pray.svg");
}

.cd-primary-nav .cd-nav-icons .cd-nav-item.employment::before {
  background-image: url("../Assets/img/SE/Employment.svg");
}

.cd-primary-nav .cd-nav-icons .cd-nav-item.sermons::before {
  background-image: url("../Assets/img/SE/sermons.svg");
}

.cd-primary-nav .cd-nav-icons .cd-nav-item.resources::before {
  background-image: url("../Assets/img/SE/resources.svg");
}

.cd-primary-nav .cd-nav-icons .cd-nav-item.podcast::before {
  background-image: url("../Assets/img/SE/Podcast.svg");
}

.cd-primary-nav .cd-nav-icons .cd-nav-item.stoies::before {
  background-image: url("../Assets/img/SE/Stories.svg");
}

.cd-primary-nav .cd-nav-icons .cd-nav-item.live-stream::before {
  background-image: url("../Assets/img/SE/Live-Stream.svg");
}

.cd-primary-nav .cd-nav-icons .cd-nav-item.starting-point::before {
  background-image: url("../Assets/img/SE/membership.svg");
}

.cd-primary-nav .cd-nav-icons .cd-nav-item.events::before {
  background-image: url("../Assets/img/SE/Events.svg");
}

.cd-primary-nav .cd-nav-icons .cd-nav-item.groups::before {
  background-image: url("../Assets/img/SE/groups.svg");
}

.cd-primary-nav .cd-nav-icons .cd-nav-item.serve::before {
  background-image: url("../Assets/img/SE/Serve.svg");
}

.cd-primary-nav .cd-nav-list .cd-nav-item p {
  color: #000000;
  font-size: 1.3rem;
  /* hide description on small devices */
  display: none;
}

.cd-primary-nav .cd-nav-list .cd-nav-item h3 {
  font-size: 1em;
  margin-top: 0px;
  font-weight: 600;
}

.cd-primary-nav .cd-dash-icons .cd-nav-item h3 {
  font-size: 1em;
  margin-top: 0px;
  font-weight: 200;
}

.cd-primary-nav .cd-secondary-nav.moves-out {
  /* push the navigation items to the left - and lower down opacity - when tertiary nav slides in */
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

@media only screen and (min-width: 1200px) {
  .cd-primary-nav {
    font-size: 1.1rem;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .cd-primary-nav ul {
    font-size: 1.1rem;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

@media only screen and (min-width: 1200px) {
  .cd-primary-nav a, .cd-primary-nav div.disabled {
    line-height: 60px;
  }
  .cd-primary-nav ul a, .cd-primary-nav ul div.disabled {
    line-height: 60px;
  }
}

@media only screen and (max-width: 1199px) {
  .nav-on-left .cd-primary-nav {
    right: auto;
    left: 0;
  }
  .nav-on-left .cd-primary-nav ul {
    right: auto;
    left: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .cd-primary-nav .cd-nav-icons .cd-nav-item h3 {
    color: #000000;
    font-size: 1.75rem;
    margin-top: 8px;
  }
}

@media only screen and (min-width: 1200px) {
  .cd-primary-nav .cd-nav-icons .cd-nav-item::before {
    top: 25%;
    margin-top: 0;
    width: 70px;
    height: 70px;
    background-size: 65px 65px;
  }
}

@media only screen and (min-width: 1200px) {
  .cd-primary-nav .cd-nav-icons .cd-nav-item.disabled h3 {
    margin-top: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .cd-primary-nav .cd-nav-icons .cd-nav-item.coming-soon h3 {
    margin-top: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .cd-primary-nav .cd-nav-list .cd-nav-item h3 {
    color: #000000;
    font-size: 1.75rem;
    margin-top: 8px;
  }
}

@media only screen and (min-width: 1200px) {
  .cd-primary-nav .cd-dash-icons .cd-nav-item h3 {
    color: #000000;
    font-weight: bold;
    font-size: 1.75rem;
    margin-top: 8px;
  }
}

@media only screen and (max-width: 1199px) {
  .cd-primary-nav {
    /* by default .cd-primary-nav is hidden - trick for iOS devices where you can see the navigation if you pull down */
    visibility: hidden;
    -webkit-transition: visibility 0s 0.3s;
    transition: visibility 0s 0.3s;
  }
  .cd-primary-nav.nav-is-visible {
    visibility: visible;
    -webkit-transition: visibility 0s 0s;
    transition: visibility 0s 0s;
  }
}

@media only screen and (min-width: 1200px) {
  .MobileGroupManager {
    display: none;
  }
  .cd-primary-nav {
    position: static;
    padding: 0 150px 0 0;
    height: auto;
    width: auto;
    float: right;
    overflow: visible;
    background: transparent;
  }
  .cd-primary-nav::after {
    clear: both;
    content: "";
    display: table;
  }
  .cd-primary-nav.moves-out > li > a {
    /* reset mobile style */
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  .cd-primary-nav ul {
    position: static;
    height: auto;
    width: auto;
    background: transparent;
    overflow: visible;
    z-index: 3;
  }
  .cd-primary-nav ul a {
    color: #000000;
    border-bottom: 3px solid #ADADAD;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .cd-primary-nav ul.is-hidden {
    /* reset mobile style */
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  .cd-primary-nav ul.moves-out > li > a {
    /* reset mobile style */
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  .cd-primary-nav > li {
    float: left;
    margin-left: 1.5em;
  }
  .cd-primary-nav > li > a {
    /* main navigation buttons style */
    position: relative;
    display: inline-block;
    height: 80px;
    line-height: 80px;
    padding: 0 10px;
    color: #000000;
    overflow: visible;
    border-bottom: none;
    -webkit-transition: color 0.3s, box-shadow 0.3s;
    -webkit-transition: color 0.3s, -webkit-box-shadow 0.3s;
    transition: color 0.3s, -webkit-box-shadow 0.3s;
    transition: color 0.3s, box-shadow 0.3s;
    transition: color 0.3s, box-shadow 0.3s, -webkit-box-shadow 0.3s;
  }
  .cd-primary-nav > li > a:hover {
    color: #000000;
  }
  .cd-primary-nav > li > a.selected {
    color: #707070;
    -webkit-box-shadow: inset 0 -2px 0 #707070;
            box-shadow: inset 0 -2px 0 #707070;
  }
  .cd-primary-nav .go-back, .cd-primary-nav .see-all {
    display: none;
  }
  .cd-primary-nav .cd-secondary-nav, .cd-primary-nav .cd-nav-gallery, .cd-primary-nav .cd-nav-icons, .cd-primary-nav .cd-nav-list, .cd-primary-nav .cd-dash-icons {
    /* dropdown menu style */
    position: absolute;
    top: 80px;
    width: 100vw;
    background: #FFFFFF;
    padding: 48px 64px;
    border-bottom: 1px solid #e0e0e0;
    -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.16);
            box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.16);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
  }
  .cd-primary-nav .cd-secondary-nav::after, .cd-primary-nav .cd-nav-gallery::after, .cd-primary-nav .cd-nav-icons::after, .cd-primary-nav .cd-nav-list::after, .cd-primary-nav .cd-dash-icons::after {
    clear: both;
    content: "";
    display: table;
  }
  .cd-primary-nav .cd-secondary-nav.is-hidden, .cd-primary-nav .cd-nav-gallery.is-hidden, .cd-primary-nav .cd-nav-icons.is-hidden, .cd-primary-nav .cd-nav-list.is-hidden, .cd-primary-nav .cd-dash-icons.is-hidden {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
  }
  .cd-primary-nav .cd-secondary-nav > .see-all, .cd-primary-nav .cd-nav-gallery > .see-all, .cd-primary-nav .cd-nav-icons > .see-all, .cd-primary-nav .cd-nav-list > .see-all, .cd-primary-nav .cd-dash-icons > .see-all {
    /* this is the BIG See all button at the bottom of the dropdown menu */
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 60px;
    text-transform: none;
    width: 100%;
    overflow: hidden;
    /* reset some inherited style */
    margin: 0;
    padding: 0;
  }
  .cd-primary-nav .cd-secondary-nav > .see-all a, .cd-primary-nav .cd-nav-gallery > .see-all a, .cd-primary-nav .cd-nav-icons > .see-all a, .cd-primary-nav .cd-nav-list > .see-all a, .cd-primary-nav .cd-dash-icons > .see-all a {
    color: #000000;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    line-height: 60px;
    border-top: 1px solid rgba(0, 0, 0, 0.16);
    /* reset some inherited style */
    border-bottom: none;
    margin: 0;
    padding: 0;
    -webkit-transition: color 0.2s, background 0.2s, border 0.2s;
    transition: color 0.2s, background 0.2s, border 0.2s;
  }
  .cd-primary-nav .cd-secondary-nav > div.extralinks {
    width: auto;
    float: none;
    position: relative;
    overflow: hidden;
    height: auto;
  }
}

@media only screen and (min-width: 1200px) and (min-width: 1200px) {
  .cd-primary-nav .cd-secondary-nav > div.extralinks {
    width: 25%;
    float: left;
    position: relative;
    overflow: hidden;
    height: 23.5rem;
  }
}

@media only screen and (min-width: 1200px) {
  .cd-primary-nav .cd-secondary-nav > div.extralinks.border-right {
    border-right: 1px solid rgba(0, 0, 0, 0.16);
  }
  .cd-primary-nav .cd-secondary-nav > li {
    /* change the height according to your needs - you can even set height: auto */
    height: auto;
    /* here you set the number of columns - use width percentage */
    width: 23%;
    float: left;
    margin-right: 2.66%;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
  }
  .cd-primary-nav .cd-secondary-nav > li:nth-child(4n+2) {
    /* +2 because we have 2 list items with display:none */
    margin-right: 0;
    border-right: none;
  }
  .cd-primary-nav .cd-secondary-nav > li > a {
    /* secondary nav title */
    color: #000000;
    font-weight: bold;
    font-size: 1.6rem;
    margin-bottom: .6em;
  }
  .cd-primary-nav .cd-secondary-nav a {
    color: #000000;
    border-bottom: none;
    font-size: 1.75rem;
    font-weight: bold;
    text-transform: none;
    border-bottom: none;
    height: auto;
    position: relative;
  }
  .cd-primary-nav .cd-secondary-nav a:hover {
    color: rgba(0, 0, 0, 0.5);
  }
  .cd-primary-nav .cd-secondary-nav ul {
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    /* tertiary navigation */
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    padding-left: 3rem;
  }
  .cd-primary-nav .cd-secondary-nav ul li a {
    line-height: 3.3rem;
  }
  .cd-primary-nav .cd-secondary-nav ul.is-hidden {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  .cd-primary-nav .cd-secondary-nav ul .go-back {
    display: block;
  }
  .cd-primary-nav .cd-secondary-nav ul .go-back a {
    color: rgba(0, 0, 0, 0.5);
  }
  .cd-primary-nav .cd-secondary-nav ul .see-all {
    display: block;
  }
  .cd-primary-nav .cd-secondary-nav .moves-out {
    /* push the navigation items to the left - and lower down opacity - when tertiary nav slides in */
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  .cd-primary-nav .cd-nav-gallery li {
    /* set here number of columns - use width percentage */
    width: 14.285%;
    float: left;
  }
  .cd-primary-nav .cd-nav-gallery li:last-child {
    /* This gives some space for the "See All" button */
    margin-bottom: 50px;
  }
  .cd-primary-nav .cd-nav-gallery .cd-nav-item {
    border-bottom: none;
    padding: 0;
    height: auto;
    line-height: 1.2;
    text-align: center;
  }
  .cd-primary-nav .cd-nav-gallery .cd-nav-item img {
    position: static;
    margin-top: 0;
    height: auto;
    border-radius: 100%;
    width: 70%;
    margin: 15px auto;
  }
  .cd-primary-nav .cd-nav-gallery .cd-nav-item h3 {
    margin-top: 15px;
    font-size: 1em;
    color: #000000;
    font-weight: bold;
    padding: 0 .4em;
  }
  .cd-primary-nav .cd-nav-icons li {
    /* set here number of columns - use width percentage */
    /* child items within */
  }
  .cd-primary-nav .cd-nav-icons li.se-4-column {
    width: 25%;
    float: left;
  }
  .cd-primary-nav .cd-nav-icons li.se-3-column {
    width: 33.33%;
    float: left;
  }
  .cd-primary-nav .cd-nav-icons li.border-right {
    border-right: 1px solid rgba(0, 0, 0, 0.16);
  }
  .cd-primary-nav .cd-nav-icons li .disabled h3 {
    color: #ADADAD;
  }
  .cd-primary-nav .cd-nav-icons li .disabled h3 small {
    clear: both;
    display: block;
    text-transform: uppercase;
    padding-left: 5px;
    line-height: 0.9rem;
    font-size: 1.1rem;
    color: #ADADAD;
    font-weight: 600;
  }
  .cd-primary-nav .cd-nav-icons li .disabled:before {
    fill: #ADADAD;
  }
  .cd-primary-nav .cd-nav-icons li .coming-soon h3 {
    color: #000000;
  }
  .cd-primary-nav .cd-nav-icons li .coming-soon h3 small {
    clear: both;
    display: block;
    text-transform: uppercase;
    padding-left: 5px;
    line-height: 0.9rem;
    font-size: 1.1rem;
    color: #000000;
    font-weight: 600;
  }
  .cd-primary-nav .cd-nav-icons li .coming-soon:before {
    fill: #000000;
  }
  .cd-primary-nav .cd-nav-icons li li {
    width: 48%;
    float: left;
    margin: 0 2% 20px 0;
  }
  .cd-primary-nav .cd-nav-icons .cd-nav-item {
    border-bottom: none;
    height: auto;
    line-height: 1.2;
    padding: 5px 20px 5px 85px;
    position: relative;
  }
}

@media only screen and (min-width: 1200px) and (min-width: 1200px) {
  .cd-primary-nav .cd-nav-icons .cd-nav-item {
    height: 100px;
    padding: 40px 0 40px 120px;
  }
}

@media only screen and (min-width: 1200px) {
  .cd-primary-nav .cd-nav-icons .cd-nav-item h3 {
    color: #000000;
    font-weight: bold;
  }
  .cd-primary-nav .cd-nav-icons .cd-nav-item p {
    display: block;
    white-space: normal;
  }
  .cd-primary-nav .cd-nav-icons .cd-nav-item::before {
    left: 40px;
    top: 20%;
  }
  .cd-primary-nav .cd-nav-list.include-see-all li:last-child {
    /* This gives some space for the "See All" button */
    margin-bottom: 50px;
  }
  .cd-primary-nav .cd-nav-list li {
    /* set here number of columns - use width percentage */
    width: 25%;
    float: left;
  }
  .cd-primary-nav .cd-nav-list li.border-right {
    border-right: 1px solid rgba(0, 0, 0, 0.16);
  }
  .cd-primary-nav .cd-nav-list .cd-nav-item {
    border-bottom: none;
    height: auto;
    line-height: 1.2;
    padding: 0px 20px 5px 30px;
    position: relative;
  }
  .cd-primary-nav .cd-nav-list .cd-nav-item h3 {
    color: #000000;
    font-weight: bold;
    padding-bottom: 5px;
  }
  .cd-primary-nav .cd-nav-list .cd-nav-item p {
    display: block;
    white-space: normal;
  }
  .cd-primary-nav .cd-nav-list .cd-nav-item::before {
    left: 10%;
    top: 23%;
  }
  .cd-primary-nav .cd-dash-icons {
    padding: 48px 64px 130px;
    border-bottom: 0px;
  }
  .cd-primary-nav .cd-dash-icons li {
    /* set here number of columns - use width percentage */
    width: 48.3%;
    float: left;
    margin: 0 0.65% 20px 0.65%;
  }
  .cd-primary-nav .cd-dash-icons .cd-nav-item {
    text-align: left;
    border-bottom: none;
    height: 80px;
    line-height: 1.2;
    padding: 7px 0 0 22px;
    position: relative;
  }
  .cd-primary-nav .cd-dash-icons .cd-nav-item span.niche {
    width: 75px;
    background-color: #ADADAD;
    height: 3px;
    display: inline-block;
  }
}

.has-children > a.arrow, .has-children > a > div.arrow {
  position: relative;
  cursor: pointer;
}

.go-back a.arrow {
  position: relative;
  cursor: pointer;
}

.has-children > a.arrow::before, .has-children > a.arrow::after {
  /* arrow icon in CSS - for element with nested unordered lists */
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -1px;
  display: inline-block;
  height: 2px;
  width: 10px;
  background: #1a1a1a;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.has-children > a > div.arrow::before, .has-children > a > div.arrow::after {
  /* arrow icon in CSS - for element with nested unordered lists */
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -1px;
  display: inline-block;
  height: 2px;
  width: 10px;
  background: #1a1a1a;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.go-back a.arrow::before, .go-back a.arrow::after {
  /* arrow icon in CSS - for element with nested unordered lists */
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -1px;
  display: inline-block;
  height: 2px;
  width: 10px;
  background: #1a1a1a;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.has-children > a.arrow::before, .has-children > a > div.arrow::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.go-back a.arrow::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.has-children > a.arrow::after, .has-children > a > div.arrow::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.go-back a.arrow::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

@media only screen and (min-width: 1200px) {
  .has-children > a.arrow::before, .has-children > a.arrow::after {
    background: black;
  }
  .has-children > a > div.arrow::before, .has-children > a > div.arrow::after {
    background: black;
  }
  .go-back a.arrow::before, .go-back a.arrow::after {
    background: black;
  }
  .has-children > a.arrow:hover::before, .has-children > a.arrow:hover::after {
    background: #000000;
  }
  .has-children > a > div.arrow:hover::before, .has-children > a > div.arrow:hover::after {
    background: #000000;
  }
  .go-back a.arrow:hover::before, .go-back a.arrow:hover::after {
    background: #000000;
  }
}

.has-children > a {
  padding-right: 40px;
}

.has-children > a > div.arrow {
  position: absolute;
  right: 0;
  top: 50%;
  padding-right: 40px;
}

.has-children > a::before, .has-children > a::after {
  /* arrow goes on the right side - children navigation */
  right: 20px;
  -webkit-transform-origin: 9px 50%;
  transform-origin: 9px 50%;
}

.has-children > a > div.arrow::before, .has-children > a > div.arrow::after {
  /* arrow goes on the right side - children navigation */
  right: 20px;
  -webkit-transform-origin: 9px 50%;
  transform-origin: 9px 50%;
}

.cd-primary-nav .go-back a {
  padding-left: 40px;
}

.cd-primary-nav .go-back a::before, .cd-primary-nav .go-back a::after {
  /* arrow goes on the left side - go back button */
  left: 20px;
  -webkit-transform-origin: 1px 50%;
  transform-origin: 1px 50%;
}

@media only screen and (min-width: 1200px) {
  .has-children > a > div.arrow {
    display: none;
  }
  .has-children > a::before, .has-children > a::after {
    right: 15%;
  }
  .cd-primary-nav > .has-children > a {
    /* main navigation arrows on larger devices */
    padding-right: 30px !important;
  }
  .cd-primary-nav > .has-children > a::before, .cd-primary-nav > .has-children > a::after {
    width: 9px;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: #949494;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: width 0.3s, -webkit-transform 0.3s;
    transition: width 0.3s, -webkit-transform 0.3s;
    transition: width 0.3s, transform 0.3s;
    transition: width 0.3s, transform 0.3s, -webkit-transform 0.3s;
  }
  .cd-primary-nav > .has-children > a::before {
    right: 12px;
  }
  .cd-primary-nav > .has-children > a::after {
    right: 7px;
  }
  .cd-primary-nav > .has-children > a.selected::before, .cd-primary-nav > .has-children > a.selected::after {
    width: 14px;
  }
  .cd-primary-nav > .has-children > a.selected::before {
    -webkit-transform: translateX(5px) rotate(-45deg);
    transform: translateX(5px) rotate(-45deg);
  }
  .cd-primary-nav > .has-children > a.selected::after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .cd-secondary-nav > .has-children > a::before, .cd-secondary-nav > .has-children > a::after {
    /* remove arrows on secondary nav titles */
    display: none;
  }
  .cd-primary-nav .go-back a {
    padding-left: 40px;
  }
  .cd-primary-nav .go-back a::before, .cd-primary-nav .go-back a::after {
    left: 1px;
  }
}

.cd-search {
  position: absolute;
  height: 80px;
  width: 100%;
  top: 70px;
  left: 0;
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}

.cd-search form {
  height: 100%;
  width: 100%;
}

.cd-search input {
  border-radius: 0;
  border: none;
  background: #FFFFFF;
  height: 100%;
  width: 100%;
  padding: 0 5%;
  -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.16);
          box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.16);
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.cd-search input::-webkit-input-placeholder, .cd-search input::-moz-placeholder, .cd-search input:-moz-placeholder, .cd-search input:-ms-input-placeholder {
  color: black;
}

.cd-search input:focus {
  outline: none;
}

.cd-search.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}

.nav-is-fixed .cd-search {
  position: fixed;
}

@media only screen and (min-width: 1200px) {
  .cd-search {
    height: 120px;
    top: 80px;
  }
  .cd-search input {
    padding: 0 2em;
    font-size: 3rem;
    font-weight: bold;
    color: #000000;
  }
  .cd-search input::-webkit-input-placeholder, .cd-search input::-moz-placeholder, .cd-search input:-moz-placeholder, .cd-search input:-ms-input-placeholder {
    color: #ADADAD;
  }
}

.cd-overlay {
  /* shadow layer visible when navigation is active */
  position: fixed;
  z-index: 2;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
  visibility: hidden;
  opacity: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s, -webkit-transform 0.3s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s, -webkit-transform 0.3s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s, transform 0.3s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s, transform 0.3s 0s, -webkit-transform 0.3s 0s;
}

.cd-overlay.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s, -webkit-transform 0.3s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s, -webkit-transform 0.3s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s, transform 0.3s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s, transform 0.3s 0s, -webkit-transform 0.3s 0s;
}

@media only screen and (max-width: 1199px) {
  .cd-overlay.is-visible {
    -webkit-transform: translateX(-260px);
    transform: translateX(-260px);
  }
  .nav-on-left .cd-overlay.is-visible {
    -webkit-transform: translateX(260px);
    transform: translateX(260px);
  }
  .cd-overlay.is-visible.search-is-visible, .nav-on-left .cd-overlay.is-visible.search-is-visible {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
/*# sourceMappingURL=bar-container.css.map */