// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


/// Regular font family
/// @type List
$text-font-stack: 'Helvetica', Arial, 'Helvetica Neue', sans-serif !default;




/// Copy text color
/// @type Color
$text-color: rgb(34, 34, 34) !default;

/// Main brand color
/// @type Color
$brand-color: #003d4c !default;


$primary-color: #003d4c;
$secondary-color: #666666;
$background-color: #f8f8f8;
